@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Open+Sans:wght@400;500;600&family=Poppins:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color:#221f2f ;
    overflow: hidden;
}

.container{
    width: 25rem;
    color: #fff;
    background: rgba(0,0,0,0.44);
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(0,0,0,0.1);
}

.container h2{
    font-size:1.6rem;
    font-weight: 500;
    text-align: center;
}

.container form{
    margin: 30px 0 10px 0;
}

.container form input[type= number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

.container form input[type= number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.container form p{
    font-size: 1rem;
    margin-bottom: 7px;
}

.container form input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 15px;
    background: transparent;
    color: #fff;
    border: 1px solid #999;
    transition: all 0.4s ease;
}

.container form input:hover{
    border: 1px solid #665afe;
    transform: 0.3s ease;
}

.container form .convert-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container form .from, .container form .to{
    width: 100%;
}

.container .convert-box .select-input{
    display: flex;
    width: 100%;
    border: 1px solid #999;
    height: 40px;
    align-items: center;
    border-radius: 8px;
    padding: 0 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
} 

.container .convert-box .select-input:hover{
    border: 1px solid #665afe;
    transition: all 0.3s ease;
}

.container .convert-box .select-input img{
    max-width: 20px;
}

.container .convert-box .select-input select{
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 0 -5px 0 5px;
    color: #fff;
}

.container .convert-box .select-input select option{
    color: #000;
}

.container .convert-box .reverse{
    cursor: pointer;
    margin-top: 35px;
    font-size: 23px;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.container .convert-box .reverse:hover{
    color: #665afe;
}

.container form .result{
    font-size: 1.1rem;
    margin: 20px 0 30px;
}

.container form button{
    width: 83%;
    height: 42px;
    color: #fff;
    background-color: #20232c;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.container form button:hover{
    background-color: #665afe;
}

footer {
    position: absolute;
    bottom: 0;
    color: #FFF;
    width: 100%;
    height: 80px;    
    text-align: center;
    line-height: 100px;
  }

  @media (max-width: 768px){
    .container{
        background: #221f2f;
        box-shadow: none;
        border: none;
    }

    footer {
        position: absolute;
        bottom: 0;
        color: #FFF;
        width: 100%;
        height: 80px;    
        text-align: center;
        line-height: 100px;
      }
}